{% extends 'base.html' %}
{% block body %}
    <section class="page-banner page-banner--layout-1 parallax">
        <div class="container">
            <div class="page-banner__container animated fadeInUp">
                <div class="page-banner__textcontent t-center">
                    <h2 class="page-banner__title c-white">Explore Your City Gems</h2>
                    <p class="page-banner__subtitle c-white">Find the best places to eat, drink, or visit.</p>
                </div><!-- .page-banner__textcontent -->

                <div class="main-search-container">
                    <form class="main-search main-search--layout-1 bg-mirage">
                        <div class="main-search__group main-search__group--primary">
                            <label for="main-search-name" class="c-white">What?</label>
                            <input type="text" name="name" id="main-search-name" class="form-input"
                                   placeholder="restaurant, hotel, club...">
                        </div><!-- .main-search__group -->

                        <div class="main-search__group main-search__group--secondary">
                            <label for="main-search-location" class="c-white">Where?</label>
                            <input type="text" name="location" id="main-search-location" class="form-input"
                                   placeholder="San Francisco">
                        </div><!-- .main-search__group -->
                        <div class="main-search__group main-search__group--tertiary">
                            <button type="submit" class="button button--medium button--square button--primary">
                                <i class="fa fa-search"></i> Search
                            </button>
                        </div>
                    </form>
                </div><!-- .main-search-container -->

                <div class="locations-container t-center">
                    <ul class="min-list inline-list locations locations--layout-1">
                        <li class="location">
                            <a href="#" class="c-white"><i class="fa fa-cutlery"></i>Restaurant</a>
                        </li>
                        <li class="location">
                            <a href="#" class="c-white"><i class="fa fa-glass"></i>Nightlife</a>
                        </li>
                        <li class="location">
                            <a href="#" class="c-white"><i class="fa fa-film"></i>Cinema</a>
                        </li>
                        <li class="location">
                            <a href="#" class="c-white"><i class="fa fa-wrench"></i>Local Services</a>
                        </li>
                    </ul>
                </div>
            </div><!-- .page-banner__container -->
        </div><!-- .container -->
    </section><!-- .page-banner -->
    <section class="category-container page-section bg-wild-sand category--layout-1">
        <div class="container">
            <h2 class="page-section__title t-center">What do you need to find?</h2>
            <div class="row">
                <div class="col-6 col-md-3">
                    <div class="category hover-effect t-center">
                        <a href="#">
                            <div class="category__image">
                                <img src="assets/images/restaurant.svg" alt="Restaurants">
                            </div>
                            <h3 class="category__title">Restaurants</h3>
                        </a>
                    </div>
                </div><!-- .col -->

                <div class="col-6 col-md-3">
                    <div class="category hover-effect t-center">
                        <a href="#">
                            <div class="category__image">
                                <img src="assets/images/coffee.svg" alt="Coffee">
                            </div>
                            <h3 class="category__title">Coffee</h3>
                        </a>
                    </div>
                </div><!-- .col -->

                <div class="col-6 col-md-3">
                    <div class="category hover-effect t-center">
                        <a href="#">
                            <div class="category__image">
                                <img src="assets/images/shopping.svg" alt="Shopping">
                            </div>
                            <h3 class="category__title">Shopping</h3>
                        </a>
                    </div>
                </div><!-- .col -->

                <div class="col-6 col-md-3">
                    <div class="category hover-effect t-center">
                        <a href="#">
                            <div class="category__image">
                                <img src="assets/images/night-life.svg" alt="Nightlife">
                            </div>
                            <h3 class="category__title">Nightlife</h3>
                        </a>
                    </div>
                </div><!-- .col -->

                <div class="col-6 col-md-3">
                    <div class="category hover-effect t-center">
                        <a href="#">
                            <div class="category__image">
                                <img src="assets/images/beauty-2.svg" alt="Beauty & Spas">
                            </div>
                            <h3 class="category__title">Beauty &amp; Spas</h3>
                        </a>
                    </div>
                </div><!-- .col -->

                <div class="col-6 col-md-3">
                    <div class="category hover-effect t-center">
                        <a href="#">
                            <div class="category__image">
                                <img src="assets/images/hotel.svg" alt="Hotels">
                            </div>
                            <h3 class="category__title">Hotels</h3>
                        </a>
                    </div>
                </div><!-- .col -->

                <div class="col-6 col-md-3">
                    <div class="category hover-effect t-center">
                        <a href="#">
                            <div class="category__image">
                                <img src="assets/images/barber.svg" alt="Barbers">
                            </div>
                            <h3 class="category__title">Barbers</h3>
                        </a>
                    </div>
                </div><!-- .col -->

                <div class="col-6 col-md-3">
                    <div class="category hover-effect t-center">
                        <a href="#">
                            <div class="category__image">
                                <img src="assets/images/more.svg" alt="More Categories">
                            </div>
                            <h3 class="category__title">More Categories</h3>
                        </a>
                    </div>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </section><!-- .category -->
    <section class="listing-list page-section listing-list--layout-1">
        <div class="container">
            <h2 class="page-section__title t-center">Great Places</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="listing hover-effect">
                        <div class="listing__wrapper">
                            <div class="listing__thumbnail">
                                <a href="single-listing-1.html">
                                    <img src="assets/images/uploads/listing-1.jpg" alt="April Boutique Coffee">
                                    <span class="label label--primary">Restaurant</span>
                                    <span class="favorite c-white">
                  <i class="fa fa-heart-o"></i>
                </span>
                                </a>
                            </div><!-- .listing__thumbnail -->
                            <div class="listing__detail">
                                <h3 class="listing__title">
                                    <a href="single-listing-1.html">April Boutique Coffee</a>
                                </h3>
                                <p class="listing__location c-dusty-gray">
                                    <i class="fa fa-map-marker"></i>
                                    18 Leinster Terr, Paddington
                                </p>
                                <p class="listing__review c-dusty-gray">
                <span class="stars-outer" data-rating="5">
                  <span class="stars-inner"></span>
                </span>
                                    <span>(5 Reviews)</span>
                                </p>
                            </div><!-- .listing__detail -->
                        </div><!-- .listing__wrapper -->
                    </div><!-- .listing -->
                </div><!-- .col -->

                <div class="col-md-4">
                    <div class="listing hover-effect">
                        <div class="listing__wrapper">
                            <div class="listing__thumbnail">
                                <a href="single-listing-1.html">
                                    <img src="assets/images/uploads/listing-2.jpg" alt="April Boutique Coffee">
                                    <span class="label label--primary">Coffee</span>
                                    <span class="favorite c-white">
                  <i class="fa fa-heart-o"></i>
                </span>
                                </a>
                            </div><!-- .listing__thumbnail -->
                            <div class="listing__detail">
                                <h3 class="listing__title">
                                    <a href="single-listing-1.html">April Boutique Coffee</a>
                                </h3>
                                <p class="listing__location c-dusty-gray">
                                    <i class="fa fa-map-marker"></i>
                                    18 Leinster Terr, Paddington
                                </p>
                                <p class="listing__review c-dusty-gray">
                <span class="stars-outer" data-rating="5">
                  <span class="stars-inner"></span>
                </span>
                                    <span>(5 Reviews)</span>
                                </p>
                            </div><!-- .listing__detail -->
                        </div><!-- .listing__wrapper -->
                    </div><!-- .listing -->
                </div><!-- .col -->

                <div class="col-md-4">
                    <div class="listing hover-effect">
                        <div class="listing__wrapper">
                            <div class="listing__thumbnail">
                                <a href="single-listing-1.html">
                                    <img src="assets/images/uploads/listing-3.jpg" alt="April Boutique Coffee">
                                    <span class="label label--primary">Coffee</span>
                                    <span class="favorite c-white">
                  <i class="fa fa-heart-o"></i>
                </span>
                                </a>
                            </div><!-- .listing__thumbnail -->
                            <div class="listing__detail">
                                <h3 class="listing__title">
                                    <a href="single-listing-1.html">April Boutique Coffee</a>
                                </h3>
                                <p class="listing__location c-dusty-gray">
                                    <i class="fa fa-map-marker"></i>
                                    18 Leinster Terr, Paddington
                                </p>
                                <p class="listing__review c-dusty-gray">
                <span class="stars-outer" data-rating="5">
                  <span class="stars-inner"></span>
                </span>
                                    <span>(5 Reviews)</span>
                                </p>
                            </div><!-- .listing__detail -->
                        </div><!-- .listing__wrapper -->
                    </div><!-- .listing -->
                </div><!-- .col -->

                <div class="col-md-4">
                    <div class="listing hover-effect">
                        <div class="listing__wrapper">
                            <div class="listing__thumbnail">
                                <a href="single-listing-1.html">
                                    <img src="assets/images/uploads/listing-4.jpg" alt="April Boutique Coffee">
                                    <span class="label label--primary">Restaurant</span>
                                    <span class="favorite c-white">
                  <i class="fa fa-heart-o"></i>
                </span>
                                </a>
                            </div><!-- .listing__thumbnail -->
                            <div class="listing__detail">
                                <h3 class="listing__title">
                                    <a href="single-listing-1.html">April Boutique Coffee</a>
                                </h3>
                                <p class="listing__location c-dusty-gray">
                                    <i class="fa fa-map-marker"></i>
                                    18 Leinster Terr, Paddington
                                </p>
                                <p class="listing__review c-dusty-gray">
                <span class="stars-outer" data-rating="5">
                  <span class="stars-inner"></span>
                </span>
                                    <span>(5 Reviews)</span>
                                </p>
                            </div><!-- .listing__detail -->
                        </div><!-- .listing__wrapper -->
                    </div><!-- .listing -->
                </div><!-- .col -->

                <div class="col-md-4">
                    <div class="listing hover-effect">
                        <div class="listing__wrapper">
                            <div class="listing__thumbnail">
                                <a href="single-listing-1.html">
                                    <img src="assets/images/uploads/listing-5.jpg" alt="April Boutique Coffee">
                                    <span class="label label--primary">Coffee</span>
                                    <span class="favorite c-white">
                  <i class="fa fa-heart-o"></i>
                </span>
                                </a>
                            </div><!-- .listing__thumbnail -->
                            <div class="listing__detail">
                                <h3 class="listing__title">
                                    <a href="single-listing-1.html">April Boutique Coffee</a>
                                </h3>
                                <p class="listing__location c-dusty-gray">
                                    <i class="fa fa-map-marker"></i>
                                    18 Leinster Terr, Paddington
                                </p>
                                <p class="listing__review c-dusty-gray">
                <span class="stars-outer" data-rating="4.5">
                  <span class="stars-inner"></span>
                </span>
                                    <span>(5 Reviews)</span>
                                </p>
                            </div><!-- .listing__detail -->
                        </div><!-- .listing__wrapper -->
                    </div><!-- .listing -->
                </div><!-- .col -->

                <div class="col-md-4">
                    <div class="listing hover-effect">
                        <div class="listing__wrapper">
                            <div class="listing__thumbnail">
                                <a href="single-listing-1.html">
                                    <img src="assets/images/uploads/listing-6.jpg" alt="April Boutique Coffee">
                                    <span class="label label--primary">Coffee</span>
                                    <span class="favorite c-white">
                  <i class="fa fa-heart-o"></i>
                </span>
                                </a>
                            </div><!-- .listing__thumbnail -->
                            <div class="listing__detail">
                                <h3 class="listing__title">
                                    <a href="single-listing-1.html">April Boutique Coffee</a>
                                </h3>
                                <p class="listing__location c-dusty-gray">
                                    <i class="fa fa-map-marker"></i>
                                    18 Leinster Terr, Paddington
                                </p>
                                <p class="listing__review c-dusty-gray">
                <span class="stars-outer" data-rating="4">
                  <span class="stars-inner"></span>
                </span>
                                    <span>(5 Reviews)</span>
                                </p>
                            </div><!-- .listing__detail -->
                        </div><!-- .listing__wrapper -->
                    </div><!-- .listing -->
                </div><!-- .col -->
            </div><!-- .row -->
            <div class="t-center load-more">
                <button class="button button--primary button--medium button--pill">View All Listing</button>
            </div>
        </div><!-- .container -->
    </section><!-- .listing-list -->
    <section class="instructions-container page-section bg-wild-sand instruction--layout-1">
        <div class="container">
            <h2 class="page-section__title t-center">Easy to Get Services</h2>
            <div class="row">
                <div class="col-md-4 instruction-container">
                    <div class="instruction t-center">
                        <span class="instruction__step c-dove-gray">01.</span>
                        <h3 class="instruction__title">Choose What to Do</h3>
                        <p class="instruction__detail c-boulder">
                            Looking for a cozy hotel to stay, a restaurant to eat, a museum to visit or a mall to do
                            some shopping?
                        </p>
                    </div><!-- .instruction -->
                </div><!-- .col -->

                <div class="col-md-4 instruction-container">
                    <div class="instruction t-center">
                        <span class="instruction__step c-dove-gray">02.</span>
                        <h3 class="instruction__title">Find What You Want</h3>
                        <p class="instruction__detail c-boulder">
                            Search and filter hundreds of listings, read reviews, explore photos and find the perfect
                            spot.
                        </p>
                    </div><!-- .instruction -->
                </div><!-- .col -->

                <div class="col-md-4 instruction-container">
                    <div class="instruction t-center">
                        <span class="instruction__step c-dove-gray">03.</span>
                        <h3 class="instruction__title">Explore Amazing Places</h3>
                        <p class="instruction__detail c-boulder">
                            Go and have a good time or even make a booking directly from the listing page. All of those,
                            thanks!
                        </p>
                    </div><!-- .instruction -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </section><!-- .instruction-container -->
    <section class="page-section testimonials-container testimonial--layout-1">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="testimonials">
                        <h2 class="page-section__title">25,000+ Happy Clients</h2>
                        <div class="swiper-container testimonial-container">
                            <div class="swiper-wrapper testimonial-wrapper">
                                <div class="swiper-slide testimonial">
                                    <p class="testimonial-content c-dove-gray">
                                        Mitch and I have traveled all over but this was by far one of the best vacations
                                        I have been on.
                                        Mitch will be writing you about future trips. Make sure Mitch books business
                                        class or first class in the future.
                                    </p>
                                    <div class="testimonial-footer">
                                        <div class="testimonial-avatar">
                                            <img src="assets/images/uploads/testimonial-avatar.png"
                                                 class="Client Avatar"
                                                 alt="Testimonial Image"
                                            >
                                        </div>

                                        <div class="testimonial-client">
                                            <span class="testimonial-client-name">- Roberta V</span>
                                            <span class="testimonial-client-location">India</span>
                                        </div>
                                    </div><!-- .testimonial-footer -->
                                </div><!-- .testimonial -->

                                <div class="swiper-slide testimonial">
                                    <p class="testimonial-content c-dove-gray">
                                        Mitch and I have traveled all over but this was by far one of the best vacations
                                        I have been on.
                                        Mitch will be writing you about future trips. Make sure Mitch books business
                                        class or first class in the future.
                                    </p>
                                    <div class="testimonial-footer">
                                        <div class="testimonial-avatar">
                                            <img
                                                    src="assets/images/uploads/testimonial-avatar.png"
                                                    class="Client Avatar" alt="Testimonial Image"
                                            >
                                        </div>

                                        <div class="testimonial-client">
                                            <span class="testimonial-client-name">- Roberta V</span>
                                            <span class="testimonial-client-location">India</span>
                                        </div>
                                    </div><!-- .testimonial-footer -->
                                </div><!-- .testimonial -->

                                <div class="swiper-slide testimonial">
                                    <p class="testimonial-content c-dove-gray">
                                        Mitch and I have traveled all over but this was by far one of the best vacations
                                        I have been on.
                                        Mitch will be writing you about future trips. Make sure Mitch books business
                                        class or first class in the future.
                                    </p>
                                    <div class="testimonial-footer">
                                        <div class="testimonial-avatar">
                                            <img
                                                    src="assets/images/uploads/testimonial-avatar.png"
                                                    class="Client Avatar" alt="Testimonial Image"
                                            >
                                        </div>

                                        <div class="testimonial-client">
                                            <span class="testimonial-client-name">- Roberta V</span>
                                            <span class="testimonial-client-location">India</span>
                                        </div>
                                    </div><!-- .testimonial-footer -->
                                </div><!-- .testimonial -->
                            </div><!-- .testimonial-wrapper -->

                            <div class="testimonial-button-container">
                                <span class="ion-chevron-left testimonial-button testimonial-button-left"></span>
                                <span class="ion-chevron-right testimonial-button testimonial-button-right"></span>
                            </div>
                        </div><!-- .testimonial-container -->
                    </div><!-- .testimonials -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </section><!-- .testimonial -->
    <section class="ads ads--layout-1 parallax">
        <div class="t-center ads__container">
            <div class="container">
                <h2 class="ads__title">Explore exciting destinations</h2>
                <p class="ads__subtitle">
                    Preparing for your traveling is very important. Our book store has lots of e-books, it might be
                    helpful for you
                </p>
            </div>
        </div>
    </section><!-- .ads -->
    <section class="news page-section news--layout-1">
        <div class="container">
            <h2 class="page-section__title t-center">Tips &amp; Articles</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="post sticky">
                        <div class="post-thumbnail">
                            <a href="single.html">
                                <img src="assets/images/uploads/news-1.jpg" alt="Sa Pa festival for next month">
                            </a>
                        </div><!-- .post-thumbnail -->

                        <div class="post-content">
                            <h3 class="post-title">
                                <a href="single.html">Sa Pa festival for next month</a>
                            </h3>
                            <p class="post-meta t-small">
                                <span><a href="#" class="c-dusty-gray">Dec 05, 2017</a></span>
                                <span><a href="#" class="c-dusty-gray">Restaurant</a></span>
                            </p>
                        </div><!-- .post-content -->
                    </div><!-- .post -->
                </div><!-- .col -->

                <div class="col-md-4">
                    <div class="post">
                        <div class="post-thumbnail">
                            <a href="single.html">
                                <img src="assets/images/uploads/news-2.jpg" alt="Italy culinary festival kicks off">
                            </a>
                        </div><!-- .post-thumbnail -->

                        <div class="post-content">
                            <h3 class="post-title">
                                <a href="single.html">Italy culinary festival kicks off</a>
                            </h3>
                            <p class="post-meta t-small">
                                <span><a href="#" class="c-dusty-gray">Dec 05, 2017</a></span>
                                <span><a href="#" class="c-dusty-gray">Travel</a></span>
                            </p>
                        </div><!-- .post-content -->
                    </div><!-- .post -->
                </div><!-- .col -->

                <div class="col-md-4">
                    <div class="post">
                        <div class="post-thumbnail">
                            <a href="single.html">
                                <img src="assets/images/uploads/news-3.jpg" alt="Best destination for travelers">
                            </a>
                        </div><!-- .post-thumbnail -->

                        <div class="post-content">
                            <h3 class="post-title">
                                <a href="single.html">Best destination for travelers</a>
                            </h3>
                            <p class="post-meta t-small">
                                <span><a href="#" class="c-dusty-gray">Dec 05, 2017</a></span>
                                <span><a href="#" class="c-dusty-gray">Culture</a></span>
                            </p>
                        </div><!-- .post-content -->
                    </div><!-- .post -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </section>

{% endblock %}